body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.headercontainer{
    background-color: #1F2937;
    /* padding: 0 15% 0 15%; */
    color: #F9FAF8;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.headerlogo{
    font-size: 24px;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 15px;
}
.links > a:hover{
    color: white;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero{
    display: flex;
    margin-bottom: 120px;
    width: 100%;
    max-width: 1000px;
}

.herotext{
    flex: 1;
}

.herotext h1{
    font-size: 48px;
    margin: 0;
    font-weight: 900;
}

h3{
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    color: #E5E7EB;
    margin-bottom: 10px;
    padding-right: 50px;
}

.heroimage{
    display: flex;
    flex: 1;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

button{
    color: white;
    font-size: 18px;
    font-weight:600;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 40px 10px 40px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:#5082F6
}

.infocontainer{
    text-align: center;
    width: 100%;
}

.itemcontainer{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 120px;
}

h2{
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight:900;
    margin-top: 50px;
    margin-bottom: 50px;
}

.infoitems{
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoimage{
    height: 160px;
    width: 160px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #3882F6;
}

.infotext{
    font-size: 18px;
    color: grey;
}

.quotecontainer{
    margin: 0 0 120px 0;
    background-color: #E5E7EB;
    padding: 120px 0 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quote{
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    max-width: 795px;
    font-weight: 300;
}
.thor{
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
}

.signupcontainer{
    color: white;
    background-color: #3882F6;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 60px 0 50px 0;
    margin-bottom: 120px;
}

.borderwhite{
    border-color: white;
    border-style: solid;
}

.footer{
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    height: 100px;
}